

html{
  /* easier to calculate rem bc 1rem === 10px */
  font-size: 10px;
}

body{
  text-align: center;
  margin: 0;
  line-height: 1.6;
}


#main{
  margin: 0px 10px 0px 10px;
  /* width: 20%; */
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}


/* image section */

#img-div{
  background: white;
  /* width: 50%; */
  /* margin: 0px auto; */
  padding: 10px;
  margin: 0;
}

#image{
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;
}


figcaption{
  margin: 5px 0;
}



/* tribute section */

#tribute-info{
  /* height: 500px; */
  /* background-color: lightblue; */
}

ul{
  text-align: left;
  max-width: 550px;
  /* border: 2px solid red; */
  margin: 0 auto;
  font-size: 1.4rem;
}


p{
  font-size: 2rem;
}


a {
  text-decoration: none;
}
